.main-navbar {
    height: 70px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.link-text {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.link-perfil img {
    width: 40px;
    height: 40px;
    right: 10px;
}