:root {
  --primary-color: #2336CC;
  --secundari-color: #2B44FF;
}

html, body {
  margin: 0;
  padding:0;
  background-color: #2B44FF;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}